#questions{
    display: none;
}
#results{
    display: none;
}
#nt{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
nav{
    background-color: #0048ff !important;
    color: white;
    border-bottom: 16px solid red;
}
img{
    /* border: 1px solid black; */
}

#introBox, #results{
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    /* border: 2px solid red; */
    background-color: #ffffff;
    box-shadow: 0 5px 8px 0 red, 0 9px 26px 0 red;
    padding: 3% 3%;
}

#questions{
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    /* border: 2px solid red; */
    background-color: #ffffff;
    box-shadow: 0 5px 8px 0 blue, 0 9px 26px 0 blue;
    padding: 3% 3%;
}
#introBox{
    /* display: none; */
}
#questions{
    /* display: none; */
    text-align: left;
    font-size: 18px;
    /* color: blue */
}
#results{
    font-size: 30px;
}
#fail{
    margin-top: 5%;
    font-size: 60px;
    color: red;
}
#introBox, #questions{
    /* display: none; */
}
.options{
    display: block;
}
#pass{
    color: blue;
}
h3{
    line-height: 40px;
    /* color: red; */
    /* color: crimson; */
}
h4{
    margin-top: 3%;
  
}
h3, h4{
    /* color: blue; */
}
#I1{
    margin-top: 4%;
    
    width: 80%;
    padding: 1% 1%;
    font-size: 20px;
    border: 1px solid black;
}
body{
    background-color: #ededed;
}
#B1, #B2{
    width: 40%;
    margin-top: 3%;
    height: 50px;
    font-size: 20px;
}
#tr{
    text-align: center;
}
.mt{
    margin-top: 1.5%;
}
#buttonRow{
    margin-top: 1%;
    text-align: center;
}
.options {
    display: block;
    margin-left: 3%;
}

@media (max-width: 575.98px) { 

    #flagtop2{
        display: none !important;
    }
    h3{
        margin-bottom: 7%;
    }
    h4{
        margin-bottom: 5%;
    }
    #nt{
        text-align: left;
        /* width: 100%; */
        margin-top: 2%;
        font-size: 45px;
    }
    #I1{
        padding: 1% 3%;
        height: 45px;
        font-size: 22px;
    }
    #introBox, #questions, #results{
        margin-top: 10%;
        margin-bottom: 5%;
    }
    #B1{
        margin-top: 8%;
        margin-bottom: 3%;
        width: 70%;

    
    }
    #flag2{
        width: 77%;
    }
    #flagtop1{
        margin-top: 2%;
    }
 }